version: '3.8'

services:
  db:
    image: postgres:13-alpine
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app_network

  redis:
    image: redis:6-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app_network

  rabbitmq:
    image: rabbitmq:3-management-alpine
    restart: always
    env_file:
      - .env
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    ports:
      - "5672:5672" # AMQP порт
      - "15672:15672" # Management UI
    networks:
      - app_network

  app:
    build:
      context: .
      dockerfile: ./app/Dockerfile
    restart: always
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      REDIS_URL: redis://redis:6379/0
      RABBITMQ_URL: amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@rabbitmq:5672/
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    depends_on:
      - db
      - redis
      - rabbitmq
    networks:
      - app_network
    #command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"] # Закомментируем пока

  worker:
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    restart: always
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      RABBITMQ_URL: amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@rabbitmq:5672/
    depends_on:
      - rabbitmq
      - db # worker может взаимодействовать с БД
    networks:
      - app_network
    #command: ["python", "consumer.py"] # Закомментируем пока

volumes:
  db_data:
  redis_data:

networks:
  app_network:
    driver: bridge
